* {
  padding: 0;
  margin: 0;
}

canvas {
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
}

div,
span {
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
}

@font-face {
  font-family: 'Silkscreen';
}

html,
body,
main {
  height: 100%;
}

body {
  font-family: 'Silkscreen';
  color: #333;
  background-color: #dff6f5;
}

.d-inline-block {
  display: inline-block;
}

#game {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.excalibur-scale {
  transform-origin: 0 0;
  transform: scale(var(--pixel-conversion), var(--pixel-conversion));
}

.excalibur-scale-right {
  transform-origin: 100% 0;
  transform: scale(var(--pixel-conversion), var(--pixel-conversion));
}

.excalibur-scale-center {
  transform-origin: 50% 0;
  transform: scale(var(--pixel-conversion), var(--pixel-conversion));
}

.hide {
  display: none !important;
}

.show {
  display: block;
}

.m-1 {
  margin: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.m-3 {
  margin: 1rem;
}

.text-align-right {
  text-align: right;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.big-box {
  color: #fff;
  font-weight: 800;
  font-size: 1rem;
  font-family: 'Silkscreen';
  background-color: #404663;
  border: none;
  border-radius: .7rem;
  display: flex;
  gap: 1rem;
  padding: .5rem 1rem;
  box-shadow:
    5px 5px 7px rgb(0 0 0 / .11),
    10px 10px 15px rgb(0 0 0 / .11),
    50px 50px 60px rgb(0 0 0 / .11);
}

.tutorial {
  width: 25%;
  display: inline-block;
  justify-self: flex-end;
  font-size: 0.7rem;
}

button {
  color: #fff;
  font-weight: 800;
  font-size: 1rem;
  font-family: 'Silkscreen';
  background-color: #404663;
  border: none;
  border-radius: .7rem;
  display: flex;
  gap: 1rem;
  padding: .5rem 1rem;
  box-shadow:
    5px 5px 7px rgb(0 0 0 / .11),
    10px 10px 15px rgb(0 0 0 / .11),
    50px 50px 60px rgb(0 0 0 / .11);
}

#btnGo {
  transition: transform .2s ease;
}

#btnGo:active {
  transform: scale(.9);
}

button:disabled {
  color: #aaa;
  background-color: #333;
}

#btnRestart:hover {
  text-shadow: -2px -2px 0.5rem #000, 2px -2px 0.5rem #000, -2px 2px 0.5rem #000, 2px 2px 0.5rem #000;
}

#btnRestart:active {
  color: #00d033;
}

#playerInfoElement {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 0.75rem;
}

.centerFullScreen {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  font-size: 5rem;
}

.white-shadow {
  text-shadow: -2px -2px 0.5rem #fff, 2px -2px 0.5rem #fff, -2px 2px 0.5rem #fff, 2px 2px 0.5rem #fff;
}

.gold-shadow {
  text-shadow: -2px -2px 0.5rem #FFD700, 2px -2px 0.5rem #FFD700, -2px 2px 0.5rem #FFD700, 2px 2px 0.5rem #FFD700;
}

.red-shadow {
  text-shadow: -2px -2px 0.5rem #f00, 2px -2px 0.5rem #f00, -2px 2px 0.5rem #f00, 2px 2px 0.5rem #f00;
}
